body{
    background: url(11.jpg), #000000 no-repeat;
    backdrop-filter: blur(20px);
}

h1{
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.ubox{
    background-color: transparent, #000000;
    border: 2px solid rgba(225, 225, 225, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #ffffff;
    border-radius: 10px;
    height: 200px;
}

#txt{
    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    color: #ffffff;
}

#tx{
    display: flex;
    position: absolute;
    margin: 20px;
    margin-left: 50%;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
    font-family: monospace;
}

#txr{
    display: flex;
    margin: 0px;
    margin-left: 50%;
    margin-top: 80px;
}

.dbox{
    justify-content: baseline;
    background-color: transparent, #000000;
    border: 2px solid rgba(225, 225, 225, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    height: 250px;
    margin-top: 10px;
}

#p{
    display: flex;
    justify-content: end;
}

#r{
    display: flex;
    justify-content: end;
}

#e{
    display: flex;
    justify-content: end;
}

#lo{
    display: flex;
    justify-content: end;
}

#home{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: larger;
    padding: 10px;
    margin-left: 20px;
    margin-top: 20px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ff417a;
    cursor: pointer;
    transition: 0.3s ease;
}

#home:hover{
    background-color: #ff417a;
    color: #ffffff;
}

#profile{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: larger;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ff417a;
    cursor: pointer;
    transition: 0.3s ease;
}

#profile:hover{
    background-color: #ff417a;
    color: #ffffff;
}

#with{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: larger;
    padding: 8px;
    margin-left: 20px;
    margin-top: 60px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ff417a;
    cursor: pointer;
    transition: 0.3s ease;
}

#with:hover{
    background-color: #ff417a;
    color: #ffffff;
}

#recharge{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: larger;
    padding: 8px;
    margin-right: 20px;
    margin-top: 60px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ff417a;
    cursor: pointer;
    transition: 0.3s ease;
}

#recharge:hover{
    background-color: #ff417a;
    color: #ffffff;;
}

#refer{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: larger;
    padding: 8px;
    margin-left: 20px;
    margin-top: 95px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ff417a;
    cursor: pointer;
    transition: 0.3s ease;
}

#refer:hover{
    background-color: #ff417a;
    color: #ffffff;
}

#earn{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: larger;
    padding: 8px;
    margin-right: 20px;
    margin-top: 95px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ff417a;
    cursor: pointer;
    transition: 0.3s ease;
}

#earn:hover{
    background-color: #ff417a;
    color: #ffffff;
}

#contact{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: larger;
    padding: 8px;
    margin-left: 20px;
    margin-top: 130px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ff417a;
    cursor: pointer;
    transition: 0.3s ease;
}

#contact:hover{
    background-color: #ff417a;
    color: #ffffff;
}

#logout{
    display: flex;
    position: absolute;
    justify-content: center;
    font-size: larger;
    padding: 8px;
    margin-right: 20px;
    margin-top: 130px;
    width: 90px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #ff417a;
    cursor: pointer;
    transition: 0.3s ease;
}

#logout:hover{
    background-color: #ff417a;
    color: #ffffff;
}